@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

h2, h1 {
    font-size: 48px;
}

p {
    font-size: 32px;
}

.collapsible {
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    padding: 3rem 0rem 3rem 0rem;
}
